<%- include('./_partials/head') %>


<div class="search-results-panel">
    <div id="map">
    </div>
    <div class="search-results">
        <!-- <hr class="search-divider"> -->
        <div class="results-list">
            <% spots.forEach(function(spot) { %>
                <a href="/spots/<%= spot.id %>" class="list-group-item">
                    <img src="<%= spot.image_url %>"> 
                    <h3 class="show-spot-name-text"><%= spot.name %> <% if (modelSpots.some(ms => ms.yelpId === spot.id)) { %>
                        🔥
                    <% } %> </h3>
                    <p><%= spot.location.display_address %></p>
                    <hr>
                </a>
            <% }); %>
        </div>
    </div>
</div>

<script>
var businesses = [
    <% spots.forEach(function(spot) { %>
        {
            name: `<%= spot.name %>`,
            address: `<%= spot.location.display_address.join(' ') %>`,
            lat: <%= spot.coordinates.latitude %>,
            lng: <%= spot.coordinates.longitude %>
        }, 
    <% }); %>
];
var openedInfoWindow = null;
function initMap(){
    //computes center
    var computeMinMax = businesses.reduce(function(ctr, b){
        ctr.latMin = b.lat < ctr.latMin ? b.lat : ctr.latMin;
        ctr.latMax = b.lat > ctr.latMax ? b.lat : ctr.latMax;
        ctr.lngMin = b.lng < ctr.lngMin ? b.lng : ctr.lngMin;
        ctr.lngMax = b.lng > ctr.lngMax ? b.lng : ctr.lngMax;
        return ctr;
    }, { 
        latMin: businesses[0].lat,
        latMax: businesses[0].lat,
        lngMin: businesses[0].lng,
        lngMax: businesses[0].lng
    });
    var center = {
        lat: (computeMinMax.latMin + computeMinMax.latMax) / 2, 
        lng: (computeMinMax.lngMin + computeMinMax.lngMax) / 2
    };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: center
    });    
    //draw markers for each business
    businesses.forEach(function(b, idx) {
        var marker = new google.maps.Marker({position: {lat: b.lat, lng: b.lng}, map: map, title: b.name});
        var infoWindow = new google.maps.InfoWindow({ 
            content: `<h3>${b.name}</h3><br>
                    <p>${b.address}</p>
                    <a href="https://maps.google.com/?ll=${b.lat},${b.lng}" target="_blank">View location on Google Maps</a>`
        });
        marker.addListener('click', function() {
            if (openedInfoWindow) openedInfoWindow.close();
            infoWindow.open(map, marker);
            openedInfoWindow = infoWindow;
        });
        document.getElementsByClassName('list-group-item')[idx].addEventListener('mouseenter', function() {
            if (openedInfoWindow) openedInfoWindow.close();
            infoWindow.open(map, marker);
            openedInfoWindow = infoWindow;
        });
    });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLEMAPS_KEY%>&callback=initMap" type="text/javascript"></script> 
 
<%- include('./_partials/footer') %>