<%- include('../_partials/head') %>

<div class="show-spot-container">
    <div class="show-left-spot-container">
        <img src="<%= spot.image %>">
    </div>

    <div class="show-spot-right-container">
        <h1 class="show-spot-name-text"> <%= spot.name %> </h1> <br>
        <hr>
        <h3><%= spot.address %> </h3><br>
        <h4><%= spot.phone %> </h4>
        <h3><%= spot.hours %> </h3> <br>
        <h4><%= spot.website %></h4>
    </div>

</div>

<div class= "show-specials">
    <!-- specials go here -->
    <% spot.specials.forEach(function(special) { %>
        <div id="<%= special.id %>">
            <input type="button" class="secondary-content btn-small red-text" onclick="destroySpecial('<%= special.id %>')" value="X"> 
            Category: <%= special.category %>
            Days: <%= special.when.days %>
            Hours: <%= special.when.hours %>
            Price Range: <%= special.price %>
            Deets: <%= special.content %>
            Posted: <%= special.createdAt.toLocaleString() %>
        </div>
    <% }); %>
</div>
<% if (user) { %> 
    <%- include('../_partials/new-special') %>;
<% }  else { %>
    <h3> Login to Add a Special!</h3>    
<% } %>

<script>
    function destroySpecial(specialId) {
        console.log(specialId);
        fetch({
            url: `/api/specials/${specialId}`,
            method: 'delete'
        }).then(function() {
            document.getElementById(specialId).remove();
        });
    }
    
</script>
<%- include('../_partials/footer') %>