<%- include('../_partials/head') %>

<div class="show-spot-container">
    <div class="show-left-spot-container">
        <img src="<%= spot.image %>">
    </div>

    <div class="show-spot-right-container">
        <h1 class="show-spot-name-text"> <%= spot.name %> </h1> <br>
        <hr>
        <h3><%= spot.address %> </h3><br>
        <h4> <%= spot.phone %> </h4>
        <h3><%= spot.is_closed %> </h3> <br>
        <h4><%= spot.website %></h4>
    </div>

</div>

<%- include('../_partials/footer') %>